.icon {
    background-image: url('../assests/download.png');
}

.headerColor {
  color: black;
  text-decoration: none;
  margin-right: 6%;
  font-family: sans-serif;
}

.option {
    border: none;
    color: black;
    text-decoration: none;
    margin-right: 6%;
    font-family: sans-serif;
    margin-top: -6px;
}

.mainBorder {
    border: groove;
    border-color: blue;
}

.caret-down {
    border-top: 4px solid;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    margin-bottom: 1px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.image {
    width: 7%;
    border-radius: 22%;
}

.input::placeholder {
    color: black;
    border: none;
    font-size: x-large;
    font-family: sans-serif;
}

.input {
    color: black;
    border: none;
    width: 100%;
    margin-left: -51%;
}

.mainRow {
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav {
    margin-right: 8%;
    margin-top: 0.5%;
}

.icons {
    margin-right: 4%;
    cursor: pointer;
}

.pathLabel {
    font-size: small;
    font-family: inherit;
    margin-left: 32px;
    margin-bottom: 4px;
}

.productLabel {
    font-size: small;
    font-family: system-ui;
    margin-left: 30px;
    margin-bottom: 1%;
    -webkit-text-stroke-width: thin;
    font-size: large;
}

.productLabel2 {
    font-weight: lighter;
    font-size: large;
}

.navClass {
    background-color: darkred;
    color: white;
    text-decoration: none;
    margin-right: 6%;
    font-family: sans-serif;
    font-size: small;
    width: 100%;
    padding: 7px;
    text-align: center;
}

.inviteBtn {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-left: 2%;
}

.filter {
    border-radius: 20px;
    font-size: medium;
    margin-left: 3px;
    border-width: 1px;
    padding: 7px;
    color: darkgray;
    background-color: white;
    border-color: lightgray;
}

.filter:active, 
.filter:focus  {
    border-radius: 20px;
    font-size: medium;
    margin-left: 3px;
    border-width: 1px;
    padding: 7px;
    color: Black;
    background-color: white;
    border-color: Black;
}

.filter1 {
    background-color: white;
    border-radius: 20px;
    font-size: small;
    margin-left: 3px;
    border-width: 1px;
    padding: 7px; 
    margin-left: -15%;
}

.filter1:active, 
.filter1:focus  {
    background-color: white;
    border-radius: 20px;
    font-size: small;
    border-width: 1px;
    padding: 7px; 
    margin-left: -15%;
    color: Black;;
    border-color: Black;
}

.hr {
    margin: 2%;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    width: 96%;
}

.itemImg {
    width: 273px;
    margin-bottom: 4%;
}

.itemName{
    margin-left: 1%;
    margin-top: 5px;
}

.listOfItems {
    margin-left: 14px;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 14%;
}
.listOfItems0 {
    margin-left: 14px;
    font-family: inherit;
    font-weight: bolder;
    font-size: medium;
}

.listOfItems2 {
    margin-left: 14px;
    font-weight: lighter;
    font-size: smaller;
    color: darkgray;
}

.priceLabel {
    margin-left: 3px;
    font-weight: lighter;
    font-size: smaller;
    text-decoration-line: line-through;
}

.priceLabel2 {
    margin-left: 3px;
    font-weight: 300;
    font-size: smaller;
    color: red;
}

@media (min-width: 576px){
.itemDiv {
    flex: 0 0 auto;
    width: 20%;
    margin-bottom: 3%;
    }
}

@media (min-width: 1400px){
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 96%;
    }
}

.row-ok {
    --bs-gutter-x: -0.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.hvrDiv {
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
    background-color: white;
    width: 273px;
    position: fixed;
    content-visibility:hidden;
    overflow: hidden;
}

.itemDiv:hover .hvrDiv {
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
    background-color: white;
    width: 273px;
    margin-top: -40px;
    position: absolute;
    content-visibility: inherit;
 }

.sizes {
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
}

.sizetext {
    margin-left: 14px;
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
}

.buttoncls {
    text-decoration-line: none;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    font-weight: 600;
    font-family: unset;
    font-size: initial;
    margin-bottom: 2%;
    padding: 4px;
    margin-top: 6%;
    position: relative;
}
 