.icon {
    background-image: url('../assests/download.png');
}

.header-color {
  color: black;
  text-decoration: none;
  margin-right: 6%;
  font-family: sans-serif;
}

.shop-option {
    border: none;
    color: black;
    text-decoration: none;
    margin-right: 6%;
    font-family: sans-serif;
    margin-top: -6px;
}

.main-border {
    border: groove;
    border-color: blue;
}

.caret-down {
    border-top: 4px solid;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    margin-bottom: 1px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.image {
    width: 7%;
    border-radius: 22%;
}

.input::placeholder {
    color: black;
    border: none;
    font-size: x-large;
    font-family: sans-serif;
}

.input {
    color: black;
    border: none;
    width: 100%;
    margin-left: -51%;
}

.main-row {
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav {
    margin-right: 8%;
    margin-top: 0.5%;
}

.icons {
    margin-right: 4%;
    cursor: pointer;
}

.path-label {
    font-size: small;
    font-family: inherit;
    margin-left: 32px;
    margin-bottom: 4px;
}

.product-label {
    font-size: small;
    font-family: system-ui;
    margin-left: 30px;
    margin-bottom: 1%;
    -webkit-text-stroke-width: thin;
    font-size: large;
}

.product-label2 {
    font-weight: lighter;
    font-size: large;
}

.nav-class {
    background-color: darkred;
    color: white;
    text-decoration: none;
    margin-right: 6%;
    font-family: sans-serif;
    font-size: small;
    width: 100%;
    padding: 7px;
    text-align: center;
}

.invite-btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-left: 2%;
}

.filter {
    border-radius: 20px;
    font-size: medium;
    margin-left: 3px;
    border-width: 1px;
    padding: 7px;
    color: darkgray;
    background-color: white;
    border-color: lightgray;
}

.filter:active, 
.filter:focus  {
    border-radius: 20px;
    font-size: medium;
    margin-left: 3px;
    border-width: 1px;
    padding: 7px;
    color: Black;
    background-color: white;
    border-color: Black;
}

.sortFilter {
    background-color: white;
    border-radius: 20px;
    font-size: small;
    margin-left: 3px;
    border-width: 1px;
    padding: 7px; 
    margin-left: -15%;
}

.sortFilter:active, 
.sortFilter:focus {
    background-color: white;
    border-radius: 20px;
    font-size: small;
    border-width: 1px;
    padding: 7px; 
    color: Black;
    border-color: Black;
    position:static;
    background-color: white;
}

.hr {
    margin: 2%;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
    width: 96%;
}

.item-img {
    width: 258px;
    margin-bottom: 4%;
}

.itemName{
    margin-left: 1%;
    margin-top: 5px;
}

.list-Of-items {
    margin-left: 11px;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 14%;
}
.list-Of-items-0 {
    margin-left: 11px;
    font-family: inherit;
    font-weight: bolder;
    font-size: medium;
}

.list-Of-items-2 {
    margin-left: 11px;
    font-weight: lighter;
    font-size: smaller;
    color: darkgray;
}

.price-label {
    margin-left: 3px;
    font-weight: lighter;
    font-size: smaller;
    text-decoration-line: line-through;
}

.price-label-2 {
    margin-left: 3px;
    font-weight: 300;
    font-size: smaller;
    color: red;
}

@media (min-width: 576px){
.add-to-cart-main-div {
    flex: 0 0 auto;
    width: 20%;
    margin-bottom: 3%;
    }
}

@media (min-width: 1400px){
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 96%;
    }
}

.row-ok {
    --bs-gutter-x: -0.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.add-to-cart-hover-div {
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
    background-color: white;
    width: 258px;
    position: fixed;
    content-visibility:hidden;
    overflow: hidden;
}

.add-to-cart-main-div:hover .add-to-cart-hover-div {
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
    background-color: white;
    width: 261px;
    margin-top: -38px;
    position: absolute;
    content-visibility: inherit;
}

.alph-sizes {
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
}

.num-size-text {
    color: black;
    font-size: smaller;
    margin-left: 14px;
    font-family: inherit;
    font-weight: 500;
}

.num-sizes {
    margin-left: 12px;
    border-radius: 50%;
    width: 13%;
    background-color: white;
    border-width: thin;
    border-color: darkgray;
    font-family: cursive;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* .item-num-sizes {
    width: 258px;
    margin-top: -47px;
    background-color: blue;
    position: fixed;
    content-visibility:hidden;
    position: relative;
    overflow: hidden;
} */

.num-size-main-div {
    margin-top: -23%;
    background-color: aqua;
    width: 98%;
    position: absolute;
    content-visibility: hidden;
    overflow: hidden;
}


/* .add-to-cart-hover-div:hover {
    margin-top: -23%;
    background-color: aqua;
    width: 98%;
    position: relative;
    content-visibility: inherit;
    overflow: hidden;
}   */

.alph-size-text {
    margin-left: 11px;
    font-weight: lighter;
    font-size: unset;
    color: darkgray;
    text-decoration: none;
}

.add-to-cart-button {
    text-decoration-line: none;
    width: 90%;
    margin-left: 4%;
    background-color: white;
    font-weight: 600;
    font-family: unset;
    font-size: initial;
    margin-bottom: 2%;
    padding: 4px;
    margin-top: 6%;
    position: relative;
}

.submenu {
    position: relative;
}

.submenu #shopping-cart{
    display: none;
}
.submenu:hover #shopping-cart{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
 
.u-full-width {
    width: 100%;
    box-sizing: border-box; 
}

.clearbtn,
input[type="submit"] {
    display: inline-block;
    color: #555;
    text-align: center;
    font-size: 11px;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; 
}

.remove-cart {
    background-color: red;
    padding: 1px 10px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-family: -webkit-body;
}

.remove-cart:hover {
    background-color: red;
    padding: 1px 10px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-family: -webkit-body;
}

.edit-cart {
    background-color: green;
    padding: 1px 17px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-family: -webkit-body;
}

.edit-cart:hover {
    background-color: green;
    padding: 1px 17px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-family: -webkit-body;
}